#hero-unit {
    background: url("../img/hero.png");
    width: 100%;
    clear: both;
    color: #fff;
    height: 400px;
}

#contact {
    font-size: 2em;
    position: absolute;
    bottom: 17%;
    left: 75%;
    background-image: url("img/me.png");

}
